<!--This is the post_list.html
<html>
    <head>
        <title>Jacqui's blog</title>
    </head>
    <body>
      <div>
        <h1>Jacqui's blog - Django-ing new places</h1>
      </div>

      <div>
        <p>published 2016.09.24</p>
      </div>
      <div>
        <p><b>Hi there!</b></p>
        <p>It works!</p>
        <p>P.S. <i>podcast</i> YES :)</p>
      </div>
    </body>
</html>-->

{% extends 'blog/base.html' %}

{% block content %}
  {% for post in posts %}
      <div class="post">
          <div class="date">
              <p>published: {{ post.published_date }}</p>
          </div>
          <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
          <p>{{ post.text|linebreaksbr }}</p>
      </div>
  {% endfor %}
{% endblock %}
